body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
}
.inner-wrapper {
	overflow: auto;
  	zoom: 1;
  	max-width: 70%;
  	margin: 0 auto;
}
h1 {
    width: 70%;
    text-align: right;
    margin: 0 auto;
    font-style: italic;
    border-bottom: double 7px #000;
}
.text{
	padding: 1em; 
	box-sizing: border-box;
	font-size: 18px;
	text-align: right;
}
.img {
	padding: 1em; 
	box-sizing: border-box;
	font-size: 18px;
	text-align: left;
}
img {
	width: 100%;
}

@media (min-width: 780px){
	.img{
		width: 40%;
		float: left;
	}
	.text{
		width: 60%;
		float: left;
	}
}